doctype html
html(lang="pt")
    - var var1 = 'complex' 
    head
        title= pageTitle
        script(type='text/javascript')
    body
        h1 Pug - node template engine
        #container.col
            if youAreUsingPug
                p You are amazing
            else
                p Get on it!
            p.
                Pug is a terse and not #{var1} templating language with a
                strong focus on performance and powerful features