doctype xml
html(lang="en")
    head
        title= pageTitle
        script(
            type='text/javascript'
            name='pug'
        )
    body
        h1 Pug - node template engine
        p This is a test