html(lang="en")
    // This is supposed to show up
    //- This is not supposed to show up
    head
        title= pageTitle
        script(type='text/javascript')
    body
        h1 Pug - node template engine
        p This is an experiment