html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript')
    body
        h1 Pug - node template engine
        #container.col
            unless youAreUsingPug
                p This is HTML
            p.
                Rather you are using HTML or Pug this will appear