* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box {
    display: flex;
    position: relative;
    width: 1300px;
    height: 700px;
    margin-bottom: 60px;
    background-color: #ccc;
    border: 2px solid blue;
    border-radius: 5px;
    margin-top: 50px;
}

.left {
    margin-left: 50px;
    flex: 30%;
}

.prof img.pr {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 30px;
    cursor: pointer;
}

.prof img.pr:hover {
    opacity: 0.8;
}


.prof h3 {
    font-size: 24px;
    margin-top: 10px;
}

.loc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
}

.loc img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.confs {
  margin-top: 230px;
}

.opts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.opts img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 230px;
    height: 40px;
    font-size: 16px;
    padding: 12px 0;
    background: rgba(7,13,89,255);
    border: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #3619da;
    border-radius: 5px;
    transition: 0.3s ease;
    color: white;
}

button.el {
    background: rgb(192, 0, 0);
}

button.el:hover {
    background-color: red;
}

button a {
    color: white;
}

.right {
    flex: 70%;
}

.nameline {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.nameline h1 {
    margin-top: 10px;
    margin-left: 70px;
}

button.ed {
    position: absolute;
    right: 50px;
    top: 0;
}

.info {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    flex-direction: column;
}

.status {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px; 
}

.status h3.on {
    color: green;
}

.status h3.off {
    color: red;
}

.access {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px; 
    top: 30px;
}

.info-content {
    display: flex;
    align-items: center;
}

.rectangle {
    position: absolute;
    left: 30px;
    top: 100px;
    width: 200px;
    height: 50px;
    background-color: rgba(7,13,89,255);
}

h2.inf {
    font-size: 18px;
    color: white;
    margin-top: 15px;
}

.line-in {
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: #3619da;
  left: 30px;
  top: 148px;
}

.line-aft {
    position: absolute;
    width: 300px;
    height: 1px;
    background-color: white;
    left: 230px;
    top: 148px;
}

.pfs {
    position: absolute;
    left: 35px;
    top: 200px;
    display: flex;
    align-items: center;
}

.idd {
    position: absolute;
    left: 35px;
    top: 240px;
    display: flex;
    align-items: center;
}

.em {
    position: absolute;
    left: 35px;
    top: 280px;
    display: flex;
    align-items: center;
}

.nvl {
    position: absolute;
    left: 35px;
    top: 320px;
    display: flex;
    align-items: center;
}

.rfavs {
    position: absolute;
    left: 35px;
    top: 400px;
    display: flex;
    align-items: center;
}

.prtable {
    position: absolute;
    left: 35px;
    top: 430px;
    display: flex;
    align-items: center;
}

.prtable {
    border-collapse: collapse;
    border:2px solid black;
}

.prtable th {
    background-color: rgba(7,13,89,255);
    color: #fdfdfd;
    border: 1px solid #060000;
    padding: 8px;
  }

.prtable td, th {
    border: 1px solid #060000;
    padding: 8px;
  }

.prtable tr:nth-child(even){background-color: #fdfdfd;}

.prtable a {
    text-decoration: underline;
    color: #000000;
}

.prof h3 {
    color: rgba(7,13,89,255);
}

.radd {
    position: absolute;
    left: 55px;
    top: 360px;
    display: flex;
    align-items: center;
}

.radd a{
    text-decoration: underline;
    color: #3619da;
}

.redt {
    position: absolute;
    left: 75px;
    top: 360px;
    display: flex;
    align-items: center;
}

.redt a{
    text-decoration: underline;
    color: #3619da;
}

.info h4 {
    position: absolute;
    left: 190px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(7,13,89,255);
    color: #fff;
    position: fixed;
    font-size: 18px;
    width: 100%;
    bottom: 0;
    left: 0;
}